*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    width: auto;
 
}

.inpp{
    background-color: rgb(253, 218, 175);
    width: 40%;
    height: 350px;
    box-shadow: 0px 0px 10px grey;
   color: black;
   
}
.inpp h3{
    margin: 1rem;
}
#opion{
 margin: 3rem;
 width: 100%;
}
#btns{
    min-width: 513px;
    height:45px;
    text-align: center;
    margin: 0.5rem;
    background: linear-gradient(90deg, rgb(162, 159, 230) 0%, rgba(9,9,121,1) 24%, rgba(0,212,255,1) 97%);
    color: rgb(249, 0, 0);
}
button{
    min-width: 510px;
    height:35px;
    text-align: center;
    margin: 0.5rem;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(152, 152, 231) 24%, rgba(0,212,255,1) 97%); 
color: white;
font-size: 20px;
}
button:active {
    background-color: yellow;
  }


#score{
    border: 2px solid black;
    height: 60px;
    width:auto ;
 
}








/* @media screen and (max-width: 480px){
    .inpp{
        width: 250px;
    }

}



@media screen and (max-width: 460px) {
    button,#btns {
      width: 250px;
    }
  } */